<!DOCTYPE html>
<html>
<head>
	<title>This is the title</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:300" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="main-header">
		<h1>CodeBerry Light</h1>
		<p style="font-size: 1.125rem; letter-spacing: 0.125rem; color: #8c8e9b">A Simple Blog Theme</p>
		<a href="#" class="button">Like</a>
		<a href="#" class="button">Follow</a>
	</header>
	<main class="primary-content">
		<article class="post">
			<h2>A Cool Article About Something Edgy</h2>
			<img src="http://i.imgur.com/rGWSW9i.jpg" alt="image-01" class="picture">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet metus at velit sodales blandit eu nec nibh. Etiam ac facilisis dui. Quisque lorem sapien, facilisis non purus eu, hendrerit feugiat neque. Nam malesuada et lectus vel pellentesque.</p>
			<a href="#">Read more</a>
		</article>
		<article class="post">
			<h2>A listicle for you and your boyfriend</h2>
			<img src="http://i.imgur.com/JS1RcVU.jpg" alt="image-02" class="picture">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet metus at velit sodales blandit eu nec nibh. Etiam ac facilisis dui. Quisque lorem sapien, facilisis non purus eu, hendrerit feugiat neque. Nam malesuada et lectus vel pellentesque.</p>
			<img src="http://i.imgur.com/q80S4Ro.jpg" alt="image-03" class="picture">
			<a href="#">Read more</a>
		</article>
		<a href="#" class="load">Load more stories...</a>
	</main>
</body>
</html>